body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.head-text {
    display: block;
    padding: 10px;
    margin-bottom: 15px;

    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
}

.socials-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
    margin: auto;
    justify-content: center;
}

.socials-card {
    flex: 0 0 250px;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    font-size: 16px;
    padding: 10px 25px;
    gap: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.socials-logo {
    padding: 0;
    width: 100px;
    display: inline;
}

.socials-logo-instagram {
    scale: 0.7;
}

.socials-logo-beatstars {
    scale: 1.1;
}

.socials-logo-tiktok {
    scale: 0.9;
}

.socials-logo-yt {
    scale: 1.15;
}

.socials-text {
    color: #FFFFFF;
    flex: 1;
}

.socials-span {
    text-align: center;
    font-weight: bold;
    display: block;
    flex: 0 0 100%;
}

.beats-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
    margin: auto;
    margin-bottom: 15px;
    justify-content: center;
}

.beats-card {
    flex: 0 0 300px;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    font-size: 16px;
    gap: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.beats-span {
    display: block;
    font-weight: bold;
    text-align: center;
    flex: 0 0 100%;
}

.beats-note {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    flex: 0 0 100%;
}



/* .socials-link {
  color: inherit;
  text-decoration: none;
}

.socials-link:visited {
  color: inherit;
} */

footer {
    font-size: 16px;
    background-color: #101010;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

body {
    margin: 0;
    padding-bottom: 50px;
}

main {
    margin: 8px;
}